* ::selection {
  background: #ecd06b;
  color: #000;
}

::-moz-selection {
  background-color: #ecd06b;
  color: #000;
}

:root {
  --global-padding: 1rem;
  --opacity-transition: opacity 0.6s ease;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  background-color: white;
  color: black;
  overflow-x: hidden;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
  z-index: 999;
}

#overlay.fade-in {
  opacity: 1;
  pointer-events: all;
}

.unstyle-link {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: var(--global-padding);

  z-index: 10;
  color: white;
  mix-blend-mode: difference;
}

a.logo {
  text-transform: uppercase;
  transition: var(--opacity-transition);
}

a.logo:hover {
  opacity: 0.15;
}

a.toggle-btn {
  text-transform: capitalize;
}

a.toggle-btn::before {
  content: "[";
  opacity: 0;
  /* transition: opacity 0.2s; */
}

a.toggle-btn::after {
  content: "]";
  opacity: 0;
  /* transition: opacity 0.2s; */
}

a.toggle-btn:hover::before,
a.toggle-btn:hover::after {
  opacity: 1;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--global-padding);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  mix-blend-mode: difference;
}

.project-link {
  display: flex;
  flex-direction: column;
  transition: var(--opacity-transition);
  z-index: 10;
  /* text-transform: capitalize; */
}

.project-link.dimmed {
  opacity: 0.15;
}

.project-category {
  font-style: italic;
}

#preview-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* so it doesn't interfere with hovering */
  z-index: -1;
}

#preview-image {
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#preview-image.visible {
  opacity: 1;
}

.coming-soon {
  cursor: default;
}

.treelimb-container {
  position: fixed;
  right: 0;
  top: 43%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1.5s ease;
}

.treelimb-container.visible {
  opacity: 1;
}

.treelimb {
  width: 75vw;
  height: auto;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--global-padding);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  mix-blend-mode: difference;
  gap: 2rem;
}

.email {
  text-transform: lowercase;
  transition: var(--opacity-transition);
}

.email:hover {
  opacity: 0.15;
}

.bio {
  width: 12rem;
}

.slideshow {
  display: grid;
  place-items: center;
  height: 100vh;
}

.slideshow img {
  grid-area: 1 / 1; /* stack all images in the same cell */
  height: 100vh;
  width: auto;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slideshow img.active {
  opacity: 1;
}

#slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#prev-zone,
#next-zone {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50vw;
  cursor: none;
  z-index: 5; /* below navbar which should be higher */
}

#prev-zone {
  left: 0;
}

#next-zone {
  right: 0;
}

#cursor-label {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 12px;
  transition: opacity 0.2s;
  color: white;
  mix-blend-mode: difference;
}

#cursor-label.visible {
  opacity: 1;
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  padding: var(--global-padding);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  mix-blend-mode: difference;
  z-index: 10;
}

.project-details .detail {
  display: flex;
  flex-direction: column;
}

.project-details .detail span {
  white-space: pre-line;
}

.credit-name {
  transition: var(--opacity-transition);
}

.credit-name:hover {
  opacity: 0.15;
}

.description {
  width: 12rem;
}

/* MEDIA QUERIES | SMALLER DESKTOP */
@media (max-width: 1320px) {
}

/* MEDIA QUERIES | MOBILE AND TABLET */
@media (max-width: 768px) and (max-width: 1024px) {
}
