:root {
  --global-padding: 16px;
  --opacity-transition: opacity 500ms ease;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  background-color: white;
  color: black;
  overflow-x: hidden;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

.unstyle-link {
  text-decoration: none;
  color: inherit;
}

/* NEW start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--global-padding);
  z-index: 1;
  color: white;
  mix-blend-mode: difference;
}

a.logo {
  text-transform: uppercase;
  transition: var(--opacity-transition);
}

a.logo:hover {
  opacity: 15%;
}

a.toggle-btn {
  text-transform: capitalize;
}

a.toggle-btn::before {
  content: "[";
  opacity: 0;
  /* transition: opacity 0.2s; */
}

a.toggle-btn::after {
  content: "]";
  opacity: 0;
  transition: opacity 0.2s;
}

a.toggle-btn:hover::before,
a.toggle-btn:hover::after {
  opacity: 1;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--global-padding);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  mix-blend-mode: difference;
}

.project-link {
  display: flex;
  flex-direction: column;
  opacity: 15%;
  transition: var(--opacity-transition);
  z-index: 1;
  text-transform: capitalize;
}

.project-link:hover {
  opacity: 1;
}

.project-category {
  font-style: italic;
}

#preview-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* so it doesn't interfere with hovering */
  z-index: -1;
}

#preview-image {
  width: 100%;
  opacity: 0;
  transition: var(--opacity-transition);
}

#preview-image.visible {
  opacity: 1;
}

/* NEW end*/

/* MEDIA QUERIES | SMALLER DESKTOP */
@media (max-width: 1320px) {
  .h1 {
    font-size: 4.5rem;
  }

  .card {
    width: 535px;
    height: 321px;
  }

  .more-info {
    width: 240px;
  }

  .pdf-container {
    width: 355px;
    height: 464.16px;
  }
}

/* MEDIA QUERIES | MOBILE AND TABLET */
@media (max-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.4rem; /* maybe make this 1rem? */
  }

  .h1 {
    font-size: 3.3rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .paragraph {
    font-size: 1.8rem;
  }

  .small {
    font-size: 1.2rem;
  }

  .center-screen {
    width: auto; /* might need to remove this if content on mobile is not center */
  }

  section {
    position: relative;
  }

  .nav-options {
    display: flex;
  }

  .mobile-modal {
    visibility: visible;
  }

  .card {
    width: 254px;
    height: 310px;
  }

  #anchor-wrapper:hover + .more-info {
    opacity: 0;
    visibility: hidden;
  }

  .more-toggle-btn {
    display: flex;
    visibility: visible;
  }

  .bio-alignment {
    justify-content: left;
    margin-left: var(--global-padding);
  }

  .bio-container {
    width: 326px;
  }

  .pdf-container {
    width: 255px;
    height: 333px;
    transition: none;
  }

  .pdf-container:hover {
    transform: none;
    box-shadow: 8px 8px 20.1px 2px rgba(0, 0, 0, 0.39);
  }
}
