@font-face {
  font-family: "OTNeueMontreal-MediumSqueezed";
  src: url("/assets/fonts/OTNeueMontreal-MediumSqueezed.otf") format("otf");
  font-weight: 500;
}

html {
  font-size: 10px;
}

body {
  cursor: url("/assets/windows-95-98-arrow.cur"), auto;
  background-color: white;
  color: black;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "OTNeueMontreal-MediumSqueezed", "Times New Roman", serif;
  font-size: 1.6rem;
  /* margin: 1rem; */
}

a {
  cursor: url("/assets/windows-95-98-pointer.cur"), pointer;
}

.h1 {
  font-size: 6.5rem;
}

.h2 {
  font-size: 4rem;
}

.paragraph {
  font-size: 1.8rem;
}

.small {
  font-size: 1.4rem;
}

.strikethrough {
  text-decoration: line-through;
}

.caps {
  text-transform: uppercase;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.underline {
  text-decoration: underline;
}

.unstyle-link {
  text-decoration: none;
  color: inherit;
}

#scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.top-left {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* not sure if this was fucking the section up or not */
  height: 100vh;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  filter: invert();
  mix-blend-mode: difference;
}

#project-1-navlink,
#project-2-navlink,
#project-3-navlink,
#project-4-navlink,
#project-5-navlink,
#project-6-navlink,
#project-7-navlink,
#project-8-navlink,
#project-9-navlink {
  opacity: 0.5;
}

.active-navlink {
  opacity: 1 !important;
}

#project-1-navlink:hover,
#project-2-navlink:hover,
#project-3-navlink:hover,
#project-4-navlink:hover,
#project-5-navlink:hover,
#project-6-navlink:hover,
#project-7-navlink:hover,
#project-8-navlink:hover,
#project-9-navlink:hover {
  opacity: 1 !important;
  text-decoration: none;
}

section {
  position: relative;
}

.nav-options {
  display: flex;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* MODAL START */

.mobile-modal {
  font-size: 10px;
  /* font-size: 0.8rem; test on phone and delete if body font-size is suitable */
  position: fixed;
  display: none;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.more-info-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2.5rem;
}

.more-info-modal div {
  width: 92%;
}

.modal-content {
  background: white;
  padding: 1rem;
  box-shadow: 8px 8px 20.1px 6px rgba(0, 0, 0, 0.49);
  text-align: left;
  width: 200px;
  /* max-width: 90%; Ensure it looks good on smaller screens */
}

.close-btn {
  display: flex;
  justify-content: end;
}

.close-btn:hover {
  text-decoration: underline;
}

/* MODAL END */

.card {
  text-transform: capitalize;
  width: 695px;
  height: 417px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-1-color {
  background-color: #d8d8d8;
}

.project-2-color {
  background-color: #f3b9f8;
}

.project-3-color {
  background-color: #fffbef;
}

.project-4-color {
  background-color: #151515;
}

.project-5-color {
  background-color: #409dd7;
}

.project-6-color {
  background-color: #236a98;
}

.project-7-color {
  background-color: #003e7e;
}

.project-8-color {
  background-color: #ffdcbd;
}

.project-9-color {
  background-color: #6793f4;
}

.more-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 300px;
  position: absolute;
  left: 10px;
  /* left: 0; */
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  filter: invert();
  mix-blend-mode: difference;
}

#anchor-wrapper:hover + .more-info {
  opacity: 1;
  visibility: visible;
}

.more-info-btn {
  display: none;
  visibility: hidden;
  margin-top: 0.5rem;
  font-size: 10px;
  /* font-size: 0.8rem; delete this if it is too small for mobile and let it inherit the body font size */
}

.more-info-btn:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bio-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bio-container {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  width: 400px;
}

.pdf-container {
  width: 400px;
  height: 523px;
  background-color: #0000a5;
  box-shadow: 8px 8px 20.1px 2px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pdf-container:hover {
  transform: translate(-5px, -5px); /* Move up slighty up (-Y) and left (-X) */
  box-shadow: 8px 8px 30.1px 8px rgba(0, 0, 0, 0.39);
}

#work-navlink:hover {
  text-decoration: none;
}

#work-navlink:active {
  text-decoration: underline;
}

#info-navlink:hover {
  text-decoration: none;
}

#info-navlink:active {
  text-decoration: underline;
}

#resume-navlink:hover {
  text-decoration: none;
}

#resume-navlink:active {
  text-decoration: underline;
}

/* MEDIA QUERIES | SMALLER DESKTOP */
@media (max-width: 1320px) {
  .h1 {
    font-size: 4.5rem;
  }

  .card {
    width: 535px;
    height: 321px;
  }

  .more-info {
    width: 240px;
  }

  .pdf-container {
    width: 355px;
    height: 464.16px;
  }
}

/* MEDIA QUERIES | MOBILE AND TABLET */
@media (max-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.4rem; /* maybe make this 1rem? */
  }

  .h1 {
    font-size: 3.3rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.8rem;
  }

  .small {
    font-size: 1.2rem;
  }

  .center-screen {
    width: auto; /* might need to remove this if content on mobile is not center */
  }

  section {
    position: relative;
  }

  .nav-options {
    display: flex;
  }

  .mobile-modal {
    visibility: visible;
  }

  .card {
    width: 259px;
    height: 315px;
  }

  #anchor-wrapper:hover + .more-info {
    opacity: 0;
    visibility: hidden;
  }

  .more-info-btn {
    display: flex;
    visibility: visible;
  }

  .bio-alignment {
    justify-content: left;
    margin-left: 1rem;
  }

  .bio-container {
    width: 336px;
  }

  .pdf-container {
    width: 255px;
    height: 333px;
  }

  .pdf-container {
    transform: none;
    box-shadow: inherit;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

::-webkit-scrollbar-corner {
  background: silver;
}
