/* DESKTOP */

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }


}

/* LAPTOP & TABLET */

@media screen and (max-width: 1200px) {
    .logo img {
        width: 3rem;
        animation: none;
    }

    #profile,
    .section-container {
        display: block;
        height: 100%;
        margin-bottom: 2rem;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 187px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .section__text {
        width: auto;
    }
}


/* MOBILE PHONE */

@media screen and (max-width: 600px) {
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .desc {
        font-size: 1rem;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }


}