<div id="nav-header" class="top-left">
  <a href="http://127.0.0.1:3000/index.html" class="unstyle-link">
    <div class="caps">colten</div>
  </a>
  <div class="nav-options">
    <a href="index.html#project01" class="unstyle-link">
      <div id="work-navlink" class="strikethrough">Work</div>
    </a>
    <span>,&nbsp;&nbsp;</span>
    <a href="information.html" class="unstyle-link">
      <div id="info-navlink" class="strikethrough">Information</div>
    </a>
    <span>,&nbsp;&nbsp;</span>
    <a href="resume.html" class="unstyle-link">
      <div id="resume-navlink" class="strikethrough">Resume</div>
    </a>
  </div>
</div>
