<div id="nav-footer" class="bottom-left">
  <a href="index.html#project-1-card" class="unstyle-link">
    <div id="project-1-navlink" class="strikethrough">Tesori Pelle</div>
  </a>
  <a href="index.html#project-2-card" class="unstyle-link">
    <div id="project-2-navlink" class="strikethrough">Intrinsic Labs</div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-3-navlink" class="strikethrough">Sanjana Elina</div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-4-navlink" class="strikethrough">Benderworks</div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-5-navlink" class="strikethrough">
      Smallbone Law & Associates
    </div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-6-navlink" class="strikethrough">Unger Builders</div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-7-navlink" class="strikethrough">
      Harrington Publications
    </div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-8-navlink" class="strikethrough">TuneTrove</div>
  </a>
  <a href="#" class="unstyle-link">
    <div id="project-9-navlink" class="strikethrough">Weatherby</div>
  </a>
</div>
