<div id="nav-footer" class="bottom-left">
  <a href="index.html#project01" class="unstyle-link">
    <div id="project-1-navlink" class="strikethrough">Intrinsic Labs</div>
  </a>
  <a href="index.html#project02" class="unstyle-link">
    <div id="project-2-navlink" class="strikethrough">Sanjana Elina</div>
  </a>
  <a href="index.html#project03" class="unstyle-link">
    <div id="project-3-navlink" class="strikethrough">Tesori Pelle</div>
  </a>
  <a href="index.html#project04" class="unstyle-link">
    <div id="project-4-navlink" class="strikethrough">Benderworks</div>
  </a>
  <a href=" index.html#project05" class="unstyle-link">
    <div id="project-5-navlink" class="strikethrough">
      Harrington Publications
    </div>
  </a>
  <a href="index.html#project06" class="unstyle-link">
    <div id="project-6-navlink" class="strikethrough">Smallbone Law</div>
  </a>
  <a href="index.html#project07" class="unstyle-link">
    <div id="project-7-navlink" class="strikethrough">Unger Builders</div>
  </a>
  <a href="index.html#project08" class="unstyle-link">
    <div id="project-8-navlink" class="strikethrough">TuneTrove</div>
  </a>
  <a href="index.html#project09" class="unstyle-link">
    <div id="project-9-navlink" class="strikethrough">Weatherby</div>
  </a>
</div>
